= simple_form_for @new_monitor, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :description
  = f.input :URL
  = f.input :frequency_in_seconds
   .form-actions
    = f.button :submit
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'
%end
