!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title YetAnotherMonitoringProgram
    %link{:href => href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto:400,100,700', :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags

  %body
  / Header and Nav
  %div.header{ :style => "background:#EEE;padding-bottom:15px;" }
    .row
      .large-8.columns
        %p
        %p

        / %h1
        /   %img{:src => "http://placehold.it/400x100&text=Logo"}/
        - if user_signed_in?
          = link_to "Dashboard", root_path
          |
          = link_to "Alerts", alerts_path
      .large-4.columns
        %div.right{ :style => "float:right; margin-right:10px;" }
          - if user_signed_in?
            Logged in as
            %strong= current_user.email
            = link_to 'Edit profile', edit_user_registration_path
            |
            = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign Up", new_user_registration_path
            |
            = link_to "Sign In", new_user_session_path

  / End Header and Nav
  %div.content
    .row
      .large-12.columns
        %br
        - if flash[:notice]
          .alert-box
            = flash[:notice]
        - if flash[:alert]
          .alert-box.alert
            = flash[:alert]
        = yield

  %footer.row
    .large-12.columns
      %hr/
      .row
        .large-6.columns
          %p &copy; Copyright Super Awesome Squad, 2013.
        .large-6.columns
          %ul.inline-list.right
            %li
              = link_to "About", about_path
            %li
              = link_to "Contact", contact_path
            %li
              = link_to "License", license_path
